In [ ]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "00f23bf2",
   "metadata": {},
   "source": [
    "# VacationPy\n",
    "----\n",
    "\n",
    "#### Note\n",
    "* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.\n",
    "\n",
    "* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "9cd24705",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Dependencies and Setup\n",
    "import matplotlib.pyplot as plt\n",
    "import pandas as pd\n",
    "import numpy as np\n",
    "import requests\n",
    "import gmaps\n",
    "import os\n",
    "import json\n",
    "\n",
    "# Import API key\n",
    "from api_keys import g_key"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "be757b9a",
   "metadata": {},
   "source": [
    "### Store Part I results into DataFrame\n",
    "* Load the csv exported in Part I to a DataFrame"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "e0315a23",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Unnamed: 0</th>\n",
       "      <th>City</th>\n",
       "      <th>Temperature</th>\n",
       "      <th>%Humidity</th>\n",
       "      <th>Cloudiness</th>\n",
       "      <th>Wind Speed</th>\n",
       "      <th>Latitude</th>\n",
       "      <th>Longitude</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0</td>\n",
       "      <td>mar del plata</td>\n",
       "      <td>11.10</td>\n",
       "      <td>60</td>\n",
       "      <td>100</td>\n",
       "      <td>1.79</td>\n",
       "      <td>-38.0023</td>\n",
       "      <td>-57.5575</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1</td>\n",
       "      <td>bluff</td>\n",
       "      <td>8.78</td>\n",
       "      <td>89</td>\n",
       "      <td>100</td>\n",
       "      <td>4.79</td>\n",
       "      <td>-46.6000</td>\n",
       "      <td>168.3333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>albany</td>\n",
       "      <td>23.09</td>\n",
       "      <td>57</td>\n",
       "      <td>99</td>\n",
       "      <td>0.32</td>\n",
       "      <td>42.6001</td>\n",
       "      <td>-73.9662</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>3</td>\n",
       "      <td>provideniya</td>\n",
       "      <td>7.38</td>\n",
       "      <td>78</td>\n",
       "      <td>100</td>\n",
       "      <td>2.78</td>\n",
       "      <td>64.3833</td>\n",
       "      <td>-173.3000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>4</td>\n",
       "      <td>ilhabela</td>\n",
       "      <td>23.12</td>\n",
       "      <td>70</td>\n",
       "      <td>9</td>\n",
       "      <td>1.58</td>\n",
       "      <td>-23.7781</td>\n",
       "      <td>-45.3581</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>565</th>\n",
       "      <td>565</td>\n",
       "      <td>oxapampa</td>\n",
       "      <td>19.94</td>\n",
       "      <td>69</td>\n",
       "      <td>12</td>\n",
       "      <td>1.62</td>\n",
       "      <td>-10.5775</td>\n",
       "      <td>-75.4017</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>566</th>\n",
       "      <td>566</td>\n",
       "      <td>batagay</td>\n",
       "      <td>18.51</td>\n",
       "      <td>64</td>\n",
       "      <td>67</td>\n",
       "      <td>0.57</td>\n",
       "      <td>67.6333</td>\n",
       "      <td>134.6333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>567</th>\n",
       "      <td>567</td>\n",
       "      <td>gokak</td>\n",
       "      <td>24.41</td>\n",
       "      <td>68</td>\n",
       "      <td>100</td>\n",
       "      <td>1.82</td>\n",
       "      <td>16.1667</td>\n",
       "      <td>74.8333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>568</th>\n",
       "      <td>568</td>\n",
       "      <td>zastron</td>\n",
       "      <td>13.25</td>\n",
       "      <td>59</td>\n",
       "      <td>99</td>\n",
       "      <td>2.08</td>\n",
       "      <td>-30.3023</td>\n",
       "      <td>27.0840</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>569</th>\n",
       "      <td>569</td>\n",
       "      <td>atar</td>\n",
       "      <td>43.62</td>\n",
       "      <td>10</td>\n",
       "      <td>2</td>\n",
       "      <td>8.96</td>\n",
       "      <td>20.5169</td>\n",
       "      <td>-13.0499</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>570 rows Ã— 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     Unnamed: 0           City  Temperature  %Humidity  Cloudiness  \\\n",
       "0             0  mar del plata        11.10         60         100   \n",
       "1             1          bluff         8.78         89         100   \n",
       "2             2         albany        23.09         57          99   \n",
       "3             3    provideniya         7.38         78         100   \n",
       "4             4       ilhabela        23.12         70           9   \n",
       "..          ...            ...          ...        ...         ...   \n",
       "565         565       oxapampa        19.94         69          12   \n",
       "566         566        batagay        18.51         64          67   \n",
       "567         567          gokak        24.41         68         100   \n",
       "568         568        zastron        13.25         59          99   \n",
       "569         569           atar        43.62         10           2   \n",
       "\n",
       "     Wind Speed  Latitude  Longitude  \n",
       "0          1.79  -38.0023   -57.5575  \n",
       "1          4.79  -46.6000   168.3333  \n",
       "2          0.32   42.6001   -73.9662  \n",
       "3          2.78   64.3833  -173.3000  \n",
       "4          1.58  -23.7781   -45.3581  \n",
       "..          ...       ...        ...  \n",
       "565        1.62  -10.5775   -75.4017  \n",
       "566        0.57   67.6333   134.6333  \n",
       "567        1.82   16.1667    74.8333  \n",
       "568        2.08  -30.3023    27.0840  \n",
       "569        8.96   20.5169   -13.0499  \n",
       "\n",
       "[570 rows x 8 columns]"
      ]
     },
     "execution_count": 2,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "filepath = 'weather_data.csv'\n",
    "weather_data = pd.read_csv(filepath)\n",
    "\n",
    "weather_data"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "c029e5c8",
   "metadata": {},
   "source": [
    "### Humidity Heatmap\n",
    "* Configure gmaps.\n",
    "* Use the Lat and Lng as locations and Humidity as the weight.\n",
    "* Add Heatmap layer to map."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "f25f1ca7",
   "metadata": {},
   "outputs": [],
   "source": [
    "# configure gmaps with API key\n",
    "gmaps.configure(api_key = g_key)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "233eea31",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "application/vnd.jupyter.widget-view+json": {
       "model_id": "c7125f2f29754266a8934bfee5ad2fb7",
       "version_major": 2,
       "version_minor": 0
      },
      "text/plain": [
       "Figure(layout=FigureLayout(height='420px'))"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "# Use the Lat and Lng as locations and Humidity as the weight.\n",
    "locations = weather_data[['Latitude', 'Longitude']]\n",
    "humidity = weather_data['%Humidity']\n",
    "\n",
    "fig = gmaps.figure()\n",
    "\n",
    "heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius = 1)\n",
    "\n",
    "fig.add_layer(heat_layer)\n",
    "\n",
    "fig"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "a26f5589",
   "metadata": {},
   "source": [
    "### Create new DataFrame fitting weather criteria\n",
    "* Narrow down the cities to fit weather conditions.\n",
    "* Drop any rows will null values."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "e4280373",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Unnamed: 0</th>\n",
       "      <th>City</th>\n",
       "      <th>Temperature</th>\n",
       "      <th>%Humidity</th>\n",
       "      <th>Cloudiness</th>\n",
       "      <th>Wind Speed</th>\n",
       "      <th>Latitude</th>\n",
       "      <th>Longitude</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0</td>\n",
       "      <td>mar del plata</td>\n",
       "      <td>11.10</td>\n",
       "      <td>60</td>\n",
       "      <td>100</td>\n",
       "      <td>1.79</td>\n",
       "      <td>-38.0023</td>\n",
       "      <td>-57.5575</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1</td>\n",
       "      <td>bluff</td>\n",
       "      <td>8.78</td>\n",
       "      <td>89</td>\n",
       "      <td>100</td>\n",
       "      <td>4.79</td>\n",
       "      <td>-46.6000</td>\n",
       "      <td>168.3333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>albany</td>\n",
       "      <td>23.09</td>\n",
       "      <td>57</td>\n",
       "      <td>99</td>\n",
       "      <td>0.32</td>\n",
       "      <td>42.6001</td>\n",
       "      <td>-73.9662</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>3</td>\n",
       "      <td>provideniya</td>\n",
       "      <td>7.38</td>\n",
       "      <td>78</td>\n",
       "      <td>100</td>\n",
       "      <td>2.78</td>\n",
       "      <td>64.3833</td>\n",
       "      <td>-173.3000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>4</td>\n",
       "      <td>ilhabela</td>\n",
       "      <td>23.12</td>\n",
       "      <td>70</td>\n",
       "      <td>9</td>\n",
       "      <td>1.58</td>\n",
       "      <td>-23.7781</td>\n",
       "      <td>-45.3581</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>565</th>\n",
       "      <td>565</td>\n",
       "      <td>oxapampa</td>\n",
       "      <td>19.94</td>\n",
       "      <td>69</td>\n",
       "      <td>12</td>\n",
       "      <td>1.62</td>\n",
       "      <td>-10.5775</td>\n",
       "      <td>-75.4017</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>566</th>\n",
       "      <td>566</td>\n",
       "      <td>batagay</td>\n",
       "      <td>18.51</td>\n",
       "      <td>64</td>\n",
       "      <td>67</td>\n",
       "      <td>0.57</td>\n",
       "      <td>67.6333</td>\n",
       "      <td>134.6333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>567</th>\n",
       "      <td>567</td>\n",
       "      <td>gokak</td>\n",
       "      <td>24.41</td>\n",
       "      <td>68</td>\n",
       "      <td>100</td>\n",
       "      <td>1.82</td>\n",
       "      <td>16.1667</td>\n",
       "      <td>74.8333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>568</th>\n",
       "      <td>568</td>\n",
       "      <td>zastron</td>\n",
       "      <td>13.25</td>\n",
       "      <td>59</td>\n",
       "      <td>99</td>\n",
       "      <td>2.08</td>\n",
       "      <td>-30.3023</td>\n",
       "      <td>27.0840</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>569</th>\n",
       "      <td>569</td>\n",
       "      <td>atar</td>\n",
       "      <td>43.62</td>\n",
       "      <td>10</td>\n",
       "      <td>2</td>\n",
       "      <td>8.96</td>\n",
       "      <td>20.5169</td>\n",
       "      <td>-13.0499</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>570 rows Ã— 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     Unnamed: 0           City  Temperature  %Humidity  Cloudiness  \\\n",
       "0             0  mar del plata        11.10         60         100   \n",
       "1             1          bluff         8.78         89         100   \n",
       "2             2         albany        23.09         57          99   \n",
       "3             3    provideniya         7.38         78         100   \n",
       "4             4       ilhabela        23.12         70           9   \n",
       "..          ...            ...          ...        ...         ...   \n",
       "565         565       oxapampa        19.94         69          12   \n",
       "566         566        batagay        18.51         64          67   \n",
       "567         567          gokak        24.41         68         100   \n",
       "568         568        zastron        13.25         59          99   \n",
       "569         569           atar        43.62         10           2   \n",
       "\n",
       "     Wind Speed  Latitude  Longitude  \n",
       "0          1.79  -38.0023   -57.5575  \n",
       "1          4.79  -46.6000   168.3333  \n",
       "2          0.32   42.6001   -73.9662  \n",
       "3          2.78   64.3833  -173.3000  \n",
       "4          1.58  -23.7781   -45.3581  \n",
       "..          ...       ...        ...  \n",
       "565        1.62  -10.5775   -75.4017  \n",
       "566        0.57   67.6333   134.6333  \n",
       "567        1.82   16.1667    74.8333  \n",
       "568        2.08  -30.3023    27.0840  \n",
       "569        8.96   20.5169   -13.0499  \n",
       "\n",
       "[570 rows x 8 columns]"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "weather_data\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "122c263a",
   "metadata": {},
   "outputs": [],
   "source": [
    "#finding weather: <50% Hummidity, <10% Cloudiness, temp 4 - 21 C.\n",
    "ideal_weather = weather_data.loc[weather_data['%Humidity'] < 50]\n",
    "ideal_weather = ideal_weather.loc[ideal_weather['Cloudiness'] <= 10]\n",
    "ideal_weather = ideal_weather.loc[(ideal_weather['Temperature'] >= 4) & (ideal_weather['Temperature'] <= 21)]\n"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "37e03141",
   "metadata": {},
   "source": [
    "### Hotel Map\n",
    "* Store into variable named `hotel_df`.\n",
    "* Add a \"Hotel Name\" column to the DataFrame.\n",
    "* Set parameters to search for hotels with 5000 meters.\n",
    "* Hit the Google Places API for each city's coordinates.\n",
    "* Store the first Hotel result into the DataFrame.\n",
    "* Plot markers on top of the heatmap."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "69aebad4",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Unnamed: 0</th>\n",
       "      <th>City</th>\n",
       "      <th>Temperature</th>\n",
       "      <th>%Humidity</th>\n",
       "      <th>Cloudiness</th>\n",
       "      <th>Wind Speed</th>\n",
       "      <th>Latitude</th>\n",
       "      <th>Longitude</th>\n",
       "      <th>Hotel Name</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>99</th>\n",
       "      <td>99</td>\n",
       "      <td>gravelbourg</td>\n",
       "      <td>14.15</td>\n",
       "      <td>45</td>\n",
       "      <td>5</td>\n",
       "      <td>4.43</td>\n",
       "      <td>49.8834</td>\n",
       "      <td>-106.5512</td>\n",
       "      <td></td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>438</th>\n",
       "      <td>438</td>\n",
       "      <td>santa isabel</td>\n",
       "      <td>19.66</td>\n",
       "      <td>41</td>\n",
       "      <td>0</td>\n",
       "      <td>0.60</td>\n",
       "      <td>-23.3156</td>\n",
       "      <td>-46.2214</td>\n",
       "      <td></td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>477</th>\n",
       "      <td>477</td>\n",
       "      <td>mount isa</td>\n",
       "      <td>14.87</td>\n",
       "      <td>33</td>\n",
       "      <td>0</td>\n",
       "      <td>3.60</td>\n",
       "      <td>-20.7333</td>\n",
       "      <td>139.5000</td>\n",
       "      <td></td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>502</th>\n",
       "      <td>502</td>\n",
       "      <td>worland</td>\n",
       "      <td>19.75</td>\n",
       "      <td>48</td>\n",
       "      <td>0</td>\n",
       "      <td>1.54</td>\n",
       "      <td>44.0169</td>\n",
       "      <td>-107.9554</td>\n",
       "      <td></td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>512</th>\n",
       "      <td>512</td>\n",
       "      <td>ribeirao pires</td>\n",
       "      <td>19.31</td>\n",
       "      <td>46</td>\n",
       "      <td>0</td>\n",
       "      <td>0.61</td>\n",
       "      <td>-23.7106</td>\n",
       "      <td>-46.4133</td>\n",
       "      <td></td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>534</th>\n",
       "      <td>534</td>\n",
       "      <td>serenje</td>\n",
       "      <td>20.09</td>\n",
       "      <td>36</td>\n",
       "      <td>4</td>\n",
       "      <td>3.94</td>\n",
       "      <td>-13.2325</td>\n",
       "      <td>30.2352</td>\n",
       "      <td></td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "     Unnamed: 0            City  Temperature  %Humidity  Cloudiness  \\\n",
       "99           99     gravelbourg        14.15         45           5   \n",
       "438         438    santa isabel        19.66         41           0   \n",
       "477         477       mount isa        14.87         33           0   \n",
       "502         502         worland        19.75         48           0   \n",
       "512         512  ribeirao pires        19.31         46           0   \n",
       "534         534         serenje        20.09         36           4   \n",
       "\n",
       "     Wind Speed  Latitude  Longitude Hotel Name  \n",
       "99         4.43   49.8834  -106.5512             \n",
       "438        0.60  -23.3156   -46.2214             \n",
       "477        3.60  -20.7333   139.5000             \n",
       "502        1.54   44.0169  -107.9554             \n",
       "512        0.61  -23.7106   -46.4133             \n",
       "534        3.94  -13.2325    30.2352             "
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#creating hotel df\n",
    "hotel_df = ideal_weather\n",
    "hotel_df['Hotel Name'] = ''\n",
    "\n",
    "hotel_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "6c123224",
   "metadata": {},
   "outputs": [],
   "source": [
    "base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'\n",
    "params = {'type': 'hotel',\n",
    "          'keyword': 'hotel',\n",
    "        'key': g_key,\n",
    "        'radius': 5000}"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "be81d562",
   "metadata": {},
   "outputs": [],
   "source": [
    "hotel_list = []\n",
    "hotel_lat_list = []\n",
    "hotel_lng_list = []\n",
    "\n",
    "for index, row in hotel_df.iterrows():\n",
    "    \n",
    "    \n",
    "    lat = row[\"Latitude\"]\n",
    "    lng = row[\"Longitude\"]\n",
    "    \n",
    "    params['location'] = f'{lat},{lng}'\n",
    "    \n",
    "    response = requests.get(base_url, params=params).json()\n",
    "    \n",
    "    #print(response)\n",
    "    \n",
    "    try:\n",
    "        hotel = response['results'][1]['name']\n",
    "        hotel_lat = response['results'][1]['geometry']['location']['lat']\n",
    "        hotel_lng = response['results'][1]['geometry']['location']['lng']\n",
    "        hotel_list.append(hotel)\n",
    "        hotel_lat_list.append(hotel_lat)\n",
    "        hotel_lng_list.append(hotel_lng)\n",
    "    \n",
    "    except:\n",
    "        print('No hotel found')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "cac21620",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Unnamed: 0</th>\n",
       "      <th>City</th>\n",
       "      <th>Temperature</th>\n",
       "      <th>%Humidity</th>\n",
       "      <th>Cloudiness</th>\n",
       "      <th>Wind Speed</th>\n",
       "      <th>Latitude</th>\n",
       "      <th>Longitude</th>\n",
       "      <th>Hotel Name</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>99</th>\n",
       "      <td>99</td>\n",
       "      <td>gravelbourg</td>\n",
       "      <td>14.15</td>\n",
       "      <td>45</td>\n",
       "      <td>5</td>\n",
       "      <td>4.43</td>\n",
       "      <td>49.8834</td>\n",
       "      <td>-106.5512</td>\n",
       "      <td>Gravelbourg Inn</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>438</th>\n",
       "      <td>438</td>\n",
       "      <td>santa isabel</td>\n",
       "      <td>19.66</td>\n",
       "      <td>41</td>\n",
       "      <td>0</td>\n",
       "      <td>0.60</td>\n",
       "      <td>-23.3156</td>\n",
       "      <td>-46.2214</td>\n",
       "      <td>Hotel EstÃ¢ncia Santa Isabel</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>477</th>\n",
       "      <td>477</td>\n",
       "      <td>mount isa</td>\n",
       "      <td>14.87</td>\n",
       "      <td>33</td>\n",
       "      <td>0</td>\n",
       "      <td>3.60</td>\n",
       "      <td>-20.7333</td>\n",
       "      <td>139.5000</td>\n",
       "      <td>Central Point Motel</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>502</th>\n",
       "      <td>502</td>\n",
       "      <td>worland</td>\n",
       "      <td>19.75</td>\n",
       "      <td>48</td>\n",
       "      <td>0</td>\n",
       "      <td>1.54</td>\n",
       "      <td>44.0169</td>\n",
       "      <td>-107.9554</td>\n",
       "      <td>Days Inn by Wyndham Worland</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>512</th>\n",
       "      <td>512</td>\n",
       "      <td>ribeirao pires</td>\n",
       "      <td>19.31</td>\n",
       "      <td>46</td>\n",
       "      <td>0</td>\n",
       "      <td>0.61</td>\n",
       "      <td>-23.7106</td>\n",
       "      <td>-46.4133</td>\n",
       "      <td>Hotel Capriccio MauÃ¡</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>534</th>\n",
       "      <td>534</td>\n",
       "      <td>serenje</td>\n",
       "      <td>20.09</td>\n",
       "      <td>36</td>\n",
       "      <td>4</td>\n",
       "      <td>3.94</td>\n",
       "      <td>-13.2325</td>\n",
       "      <td>30.2352</td>\n",
       "      <td>SERENJE SOCH INN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "     Unnamed: 0            City  Temperature  %Humidity  Cloudiness  \\\n",
       "99           99     gravelbourg        14.15         45           5   \n",
       "438         438    santa isabel        19.66         41           0   \n",
       "477         477       mount isa        14.87         33           0   \n",
       "502         502         worland        19.75         48           0   \n",
       "512         512  ribeirao pires        19.31         46           0   \n",
       "534         534         serenje        20.09         36           4   \n",
       "\n",
       "     Wind Speed  Latitude  Longitude                   Hotel Name  \n",
       "99         4.43   49.8834  -106.5512              Gravelbourg Inn  \n",
       "438        0.60  -23.3156   -46.2214  Hotel EstÃ¢ncia Santa Isabel  \n",
       "477        3.60  -20.7333   139.5000          Central Point Motel  \n",
       "502        1.54   44.0169  -107.9554  Days Inn by Wyndham Worland  \n",
       "512        0.61  -23.7106   -46.4133         Hotel Capriccio MauÃ¡  \n",
       "534        3.94  -13.2325    30.2352             SERENJE SOCH INN  "
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "hotel_df['Hotel Name'] = hotel_list\n",
    "\n",
    "hotel_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "da781644",
   "metadata": {},
   "outputs": [
    {
     "ename": "KeyError",
     "evalue": "'Country'",
     "output_type": "error",
     "traceback": [
      "\u001b[1;31m---------------------------------------------------------------------------\u001b[0m",
      "\u001b[1;31mKeyError\u001b[0m                                  Traceback (most recent call last)",
      "Input \u001b[1;32mIn [12]\u001b[0m, in \u001b[0;36m<cell line: 13>\u001b[1;34m()\u001b[0m\n\u001b[0;32m      4\u001b[0m info_box_template \u001b[38;5;241m=\u001b[39m \u001b[38;5;124m\"\"\"\u001b[39m\n\u001b[0;32m      5\u001b[0m \u001b[38;5;124m<dl>\u001b[39m\n\u001b[0;32m      6\u001b[0m \u001b[38;5;124m<dt>Name</dt><dd>\u001b[39m\u001b[38;5;124m{\u001b[39m\u001b[38;5;124mHotel Name}</dd>\u001b[39m\n\u001b[1;32m   (...)\u001b[0m\n\u001b[0;32m      9\u001b[0m \u001b[38;5;124m</dl>\u001b[39m\n\u001b[0;32m     10\u001b[0m \u001b[38;5;124m\"\"\"\u001b[39m\n\u001b[0;32m     11\u001b[0m \u001b[38;5;66;03m# Store the DataFrame Row\u001b[39;00m\n\u001b[0;32m     12\u001b[0m \u001b[38;5;66;03m# NOTE: be sure to update with your DataFrame name\u001b[39;00m\n\u001b[1;32m---> 13\u001b[0m hotel_info \u001b[38;5;241m=\u001b[39m [info_box_template\u001b[38;5;241m.\u001b[39mformat(\u001b[38;5;241m*\u001b[39m\u001b[38;5;241m*\u001b[39mrow) \u001b[38;5;28;01mfor\u001b[39;00m index, row \u001b[38;5;129;01min\u001b[39;00m hotel_df\u001b[38;5;241m.\u001b[39miterrows()]\n\u001b[0;32m     14\u001b[0m locations \u001b[38;5;241m=\u001b[39m hotel_df[[\u001b[38;5;124m\"\u001b[39m\u001b[38;5;124mLatitude\u001b[39m\u001b[38;5;124m\"\u001b[39m, \u001b[38;5;124m\"\u001b[39m\u001b[38;5;124mLongitude\u001b[39m\u001b[38;5;124m\"\u001b[39m]]\n",
      "Input \u001b[1;32mIn [12]\u001b[0m, in \u001b[0;36m<listcomp>\u001b[1;34m(.0)\u001b[0m\n\u001b[0;32m      4\u001b[0m info_box_template \u001b[38;5;241m=\u001b[39m \u001b[38;5;124m\"\"\"\u001b[39m\n\u001b[0;32m      5\u001b[0m \u001b[38;5;124m<dl>\u001b[39m\n\u001b[0;32m      6\u001b[0m \u001b[38;5;124m<dt>Name</dt><dd>\u001b[39m\u001b[38;5;124m{\u001b[39m\u001b[38;5;124mHotel Name}</dd>\u001b[39m\n\u001b[1;32m   (...)\u001b[0m\n\u001b[0;32m      9\u001b[0m \u001b[38;5;124m</dl>\u001b[39m\n\u001b[0;32m     10\u001b[0m \u001b[38;5;124m\"\"\"\u001b[39m\n\u001b[0;32m     11\u001b[0m \u001b[38;5;66;03m# Store the DataFrame Row\u001b[39;00m\n\u001b[0;32m     12\u001b[0m \u001b[38;5;66;03m# NOTE: be sure to update with your DataFrame name\u001b[39;00m\n\u001b[1;32m---> 13\u001b[0m hotel_info \u001b[38;5;241m=\u001b[39m [\u001b[43minfo_box_template\u001b[49m\u001b[38;5;241;43m.\u001b[39;49m\u001b[43mformat\u001b[49m\u001b[43m(\u001b[49m\u001b[38;5;241;43m*\u001b[39;49m\u001b[38;5;241;43m*\u001b[39;49m\u001b[43mrow\u001b[49m\u001b[43m)\u001b[49m \u001b[38;5;28;01mfor\u001b[39;00m index, row \u001b[38;5;129;01min\u001b[39;00m hotel_df\u001b[38;5;241m.\u001b[39miterrows()]\n\u001b[0;32m     14\u001b[0m locations \u001b[38;5;241m=\u001b[39m hotel_df[[\u001b[38;5;124m\"\u001b[39m\u001b[38;5;124mLatitude\u001b[39m\u001b[38;5;124m\"\u001b[39m, \u001b[38;5;124m\"\u001b[39m\u001b[38;5;124mLongitude\u001b[39m\u001b[38;5;124m\"\u001b[39m]]\n",
      "\u001b[1;31mKeyError\u001b[0m: 'Country'"
     ]
    }
   ],
   "source": [
    "# NOTE: Do not change any of the code in this cell\n",
    "\n",
    "# Using the template add the hotel marks to the heatmap\n",
    "info_box_template = \"\"\"\n",
    "<dl>\n",
    "<dt>Name</dt><dd>{Hotel Name}</dd>\n",
    "<dt>City</dt><dd>{City}</dd>\n",
    "<dt>Country</dt><dd>{Country}</dd>\n",
    "</dl>\n",
    "\"\"\"\n",
    "# Store the DataFrame Row\n",
    "# NOTE: be sure to update with your DataFrame name\n",
    "hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]\n",
    "locations = hotel_df[[\"Latitude\", \"Longitude\"]]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "47412362",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Add marker layer ontop of heat map\n",
    "\n",
    "\n",
    "# Display figure\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "a4cd026d",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.8.13"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}