# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

623

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
#building query url
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
query_url = f'{url}&appid={api_key}&units={units}&q='

In [4]:
#creating lists with city weather data
temperature = []
humidity = []
cloudiness = []
wind_speed = []
city_list = []
lat_list = []
lng_list = []
count = 0

for city in cities:
    
    count += 1
    print(f'City number: {count}. City name: {city}')
    
    try:
        response = requests.get(query_url + city).json()
        temperature.append((response['main']['temp']))
        humidity.append((response['main']['humidity']))
        cloudiness.append((response['clouds']['all']))
        wind_speed.append((response['wind']['speed']))
        lat_list.append((response['coord']['lat']))
        lng_list.append((response['coord']['lon']))
        city_list.append(city)
        
    except:
        print('You have an error.')

City number: 1. City name: mar del plata
City number: 2. City name: bluff
City number: 3. City name: albany
City number: 4. City name: provideniya
City number: 5. City name: ilhabela
City number: 6. City name: lata
City number: 7. City name: arraial do cabo
City number: 8. City name: rikitea
City number: 9. City name: taburao
You have an error.
City number: 10. City name: mataura
City number: 11. City name: port alfred
City number: 12. City name: broome
City number: 13. City name: tarauaca
City number: 14. City name: uray
City number: 15. City name: rudnichnyy
City number: 16. City name: talcahuano
City number: 17. City name: tuktoyaktuk
City number: 18. City name: busselton
City number: 19. City name: normandin
City number: 20. City name: san lorenzo
City number: 21. City name: taolanaro
You have an error.
City number: 22. City name: hermanus
City number: 23. City name: umea
City number: 24. City name: bathsheba
City number: 25. City name: nikolskoye
City number: 26. City name: cayenne
City number: 27. City name: atuona
City number: 28. City name: ucluelet
City number: 29. City name: punta arenas
City number: 30. City name: gamba
City number: 31. City name: ushuaia
City number: 32. City name: georgetown
City number: 33. City name: kahului
City number: 34. City name: belushya guba
You have an error.
City number: 35. City name: vila do maio
City number: 36. City name: jamestown
City number: 37. City name: kenora
City number: 38. City name: qaanaaq
City number: 39. City name: ulladulla
City number: 40. City name: coihaique
City number: 41. City name: praya
City number: 42. City name: linguere
City number: 43. City name: airai
City number: 44. City name: new norfolk
City number: 45. City name: tasiilaq
City number: 46. City name: szendro
City number: 47. City name: rio gallegos
City number: 48. City name: pecos
City number: 49. City name: castro
City number: 50. City name: fairbanks
City number: 51. City name: kapaa
City number: 52. City name: praia da vitoria
City number: 53. City name: sanandaj
City number: 54. City name: orihuela
City number: 55. City name: teknaf
City number: 56. City name: gualaceo
City number: 57. City name: avarua
City number: 58. City name: port elizabeth
City number: 59. City name: saint george
City number: 60. City name: samalaeulu
You have an error.
City number: 61. City name: san patricio
City number: 62. City name: riberalta
City number: 63. City name: palmares do sul
City number: 64. City name: pochutla
City number: 65. City name: mahebourg
City number: 66. City name: onokhoy
City number: 67. City name: bargal
You have an error.
City number: 68. City name: vaitupu
You have an error.
City number: 69. City name: khatanga
City number: 70. City name: yima
City number: 71. City name: marawi
City number: 72. City name: elat
City number: 73. City name: carnarvon
City number: 74. City name: saryshagan
You have an error.
City number: 75. City name: kuching
City number: 76. City name: cabo san lucas
City number: 77. City name: yermakovskoye
City number: 78. City name: escarcega
City number: 79. City name: chuy
City number: 80. City name: arman
City number: 81. City name: tromso
City number: 82. City name: bredasdorp
City number: 83. City name: ponta do sol
City number: 84. City name: coquimbo
City number: 85. City name: puerto ayora
City number: 86. City name: kodiak
City number: 87. City name: vaini
City number: 88. City name: san vicente
City number: 89. City name: victoria
City number: 90. City name: angoche
City number: 91. City name: upernavik
City number: 92. City name: tabiauea
You have an error.
City number: 93. City name: primorsk
City number: 94. City name: cockburn town
City number: 95. City name: lebyazhye
City number: 96. City name: fomboni
City number: 97. City name: ternate
City number: 98. City name: mayo
City number: 99. City name: pedasi
City number: 100. City name: tiksi
City number: 101. City name: asosa
City number: 102. City name: puerto colombia
City number: 103. City name: kidal
City number: 104. City name: pevek
City number: 105. City name: north platte
City number: 106. City name: kenai
City number: 107. City name: codrington
City number: 108. City name: gravelbourg
City number: 109. City name: caravelas
City number: 110. City name: butaritari
City number: 111. City name: hobyo
City number: 112. City name: mineros
City number: 113. City name: tezu
City number: 114. City name: haines junction
City number: 115. City name: kamaishi
City number: 116. City name: saint-philippe
City number: 117. City name: bosaso
City number: 118. City name: port lincoln
City number: 119. City name: pascagoula
City number: 120. City name: dunedin
City number: 121. City name: satitoa
You have an error.
City number: 122. City name: karasjok
City number: 123. City name: kijang
City number: 124. City name: hilo
City number: 125. City name: nanortalik
City number: 126. City name: saint anthony
City number: 127. City name: yunjinghong
You have an error.
City number: 128. City name: tlanisco
You have an error.
City number: 129. City name: babushkin
City number: 130. City name: jiuquan
City number: 131. City name: miles city
City number: 132. City name: atocha
City number: 133. City name: bonthe
City number: 134. City name: soyo
City number: 135. City name: songea
City number: 136. City name: narsaq
City number: 137. City name: poya
City number: 138. City name: lebu
City number: 139. City name: ilulissat
City number: 140. City name: pacifica
City number: 141. City name: nizhneyansk
You have an error.
City number: 142. City name: comodoro rivadavia
City number: 143. City name: tidore
You have an error.
City number: 144. City name: faanui
City number: 145. City name: hobart
City number: 146. City name: kjollefjord
City number: 147. City name: east london
City number: 148. City name: yumen
City number: 149. City name: waipawa
City number: 150. City name: bud
City number: 151. City name: flinders
City number: 152. City name: kokorevka
City number: 153. City name: ust-kuyga
City number: 154. City name: puerto escondido
City number: 155. City name: cap malheureux
City number: 156. City name: nyimba
City number: 157. City name: itupiranga
City number: 158. City name: kandrian
City number: 159. City name: barentsburg
You have an error.
City number: 160. City name: illoqqortoormiut
You have an error.
City number: 161. City name: rabaul
City number: 162. City name: katangli
City number: 163. City name: rangpur
City number: 164. City name: mys shmidta
You have an error.
City number: 165. City name: berlevag
City number: 166. City name: halden
City number: 167. City name: ribeira grande
City number: 168. City name: masuguru
City number: 169. City name: begoro
City number: 170. City name: bethel
City number: 171. City name: bontang
City number: 172. City name: dwarka
City number: 173. City name: jabiru
You have an error.
City number: 174. City name: saskylakh
City number: 175. City name: san felipe
City number: 176. City name: axim
City number: 177. City name: attawapiskat
You have an error.
City number: 178. City name: ancud
City number: 179. City name: tilichiki
City number: 180. City name: baykit
City number: 181. City name: sao filipe
City number: 182. City name: owando
City number: 183. City name: klaksvik
City number: 184. City name: krasnoshchekovo
City number: 185. City name: mecca
City number: 186. City name: grand river south east
You have an error.
City number: 187. City name: shimoda
City number: 188. City name: sisophon
City number: 189. City name: kavieng
City number: 190. City name: cape town
City number: 191. City name: praia
City number: 192. City name: thompson
City number: 193. City name: umzimvubu
You have an error.
City number: 194. City name: lompoc
City number: 195. City name: maragogi
City number: 196. City name: asfi
City number: 197. City name: iqaluit
City number: 198. City name: oistins
City number: 199. City name: sulphur
City number: 200. City name: kokopo
City number: 201. City name: playas
City number: 202. City name: san quintin
City number: 203. City name: mareeba
City number: 204. City name: setermoen
City number: 205. City name: port macquarie
City number: 206. City name: eresos
City number: 207. City name: byron bay
City number: 208. City name: sitka

City number: 209. City name: barrow
City number: 210. City name: nyrob
City number: 211. City name: sur
City number: 212. City name: saquena
City number: 213. City name: martil
City number: 214. City name: namibe
City number: 215. City name: mananjary
City number: 216. City name: mandalgovi
City number: 217. City name: shillong
City number: 218. City name: longyearbyen
City number: 219. City name: banda aceh
City number: 220. City name: san rafael
City number: 221. City name: karratha
City number: 222. City name: padang
City number: 223. City name: sebinkarahisar
City number: 224. City name: arlit
City number: 225. City name: lolua
You have an error.
City number: 226. City name: ostrovnoy
City number: 227. City name: tarakan
City number: 228. City name: tsihombe
You have an error.
City number: 229. City name: talaya
City number: 230. City name: gayeri
City number: 231. City name: kikwit
City number: 232. City name: vestmanna
City number: 233. City name: esperance
City number: 234. City name: komsomolskiy
City number: 235. City name: porto santo
City number: 236. City name: gimli
City number: 237. City name: lalomanu
You have an error.
City number: 238. City name: buraydah
City number: 239. City name: mahibadhoo
City number: 240. City name: puliyur
City number: 241. City name: deputatskiy
City number: 242. City name: alugan
City number: 243. City name: alice springs
City number: 244. City name: biltine
City number: 245. City name: bolungarvik
You have an error.
City number: 246. City name: antofagasta
City number: 247. City name: vao
City number: 248. City name: tessalit
City number: 249. City name: cherskiy
City number: 250. City name: manavalakurichi
City number: 251. City name: talnakh
City number: 252. City name: polovinnoye
City number: 253. City name: kyra
City number: 254. City name: tres lagoas
City number: 255. City name: florence
City number: 256. City name: ambovombe
City number: 257. City name: mme
You have an error.
City number: 258. City name: samarai
City number: 259. City name: zhongshu
City number: 260. City name: road town
City number: 261. City name: dikson
City number: 262. City name: hofn
City number: 263. City name: alamosa
City number: 264. City name: hambantota
City number: 265. City name: pathein
City number: 266. City name: syriam
City number: 267. City name: husavik
City number: 268. City name: chokurdakh
City number: 269. City name: severo-kurilsk
City number: 270. City name: tuatapere
City number: 271. City name: dharchula
City number: 272. City name: taoudenni
City number: 273. City name: norman wells
City number: 274. City name: sal rei
City number: 275. City name: namatanai
City number: 276. City name: luchegorsk
City number: 277. City name: ilo
City number: 278. City name: tigil
City number: 279. City name: vestmannaeyjar
City number: 280. City name: tumannyy
You have an error.
City number: 281. City name: siljan
City number: 282. City name: rabat
City number: 283. City name: belyy yar
City number: 284. City name: volary
City number: 285. City name: monte alegre
City number: 286. City name: geraldton
City number: 287. City name: paamiut
City number: 288. City name: kutum
City number: 289. City name: salalah
City number: 290. City name: liku
City number: 291. City name: madras
City number: 292. City name: tecoanapa
City number: 293. City name: karkaralinsk
You have an error.
City number: 294. City name: rungata
You have an error.
City number: 295. City name: kirakira
City number: 296. City name: mackay
City number: 297. City name: huarmey
City number: 298. City name: bengkulu
City number: 299. City name: stoyba
You have an error.
City number: 300. City name: kosh-agach
City number: 301. City name: gazanjyk
City number: 302. City name: yar-sale
City number: 303. City name: bayanday
City number: 304. City name: yerbogachen
City number: 305. City name: osvaldo cruz
City number: 306. City name: lagoa
City number: 307. City name: kashirskoye
City number: 308. City name: srednekolymsk
City number: 309. City name: rafraf
City number: 310. City name: aklavik
City number: 311. City name: awjilah
City number: 312. City name: cairns
City number: 313. City name: pastavy
City number: 314. City name: gilgit
City number: 315. City name: kerchevskiy
City number: 316. City name: saldanha
City number: 317. City name: krasnoselkup
City number: 318. City name: samusu
You have an error.
City number: 319. City name: amderma
You have an error.
City number: 320. City name: bryan
City number: 321. City name: shaping
City number: 322. City name: sisimiut
City number: 323. City name: boden
City number: 324. City name: matara
City number: 325. City name: marion
City number: 326. City name: bulgan
City number: 327. City name: san juan
City number: 328. City name: beringovskiy
City number: 329. City name: santa rosa
City number: 330. City name: mandurah
City number: 331. City name: jardim
City number: 332. City name: etropole
City number: 333. City name: sirsa
City number: 334. City name: dutlwe
City number: 335. City name: weiser
City number: 336. City name: dawson creek
City number: 337. City name: sam roi yot
City number: 338. City name: guerrero negro
City number: 339. City name: monrovia
City number: 340. City name: moyale
City number: 341. City name: sentyabrskiy
You have an error.
City number: 342. City name: ergani
City number: 343. City name: stonewall
City number: 344. City name: okhotsk
City number: 345. City name: eyl
City number: 346. City name: kindu
City number: 347. City name: rocha
City number: 348. City name: fortuna
City number: 349. City name: leningradskiy
City number: 350. City name: nanakuli
City number: 351. City name: kudahuvadhoo
City number: 352. City name: kulhudhuffushi
City number: 353. City name: santa ana
City number: 354. City name: bambous virieux
City number: 355. City name: vila franca do campo
City number: 356. City name: olafsvik
City number: 357. City name: le pradet
City number: 358. City name: bandarbeyla
City number: 359. City name: porto seguro
City number: 360. City name: kholm
City number: 361. City name: viking
City number: 362. City name: san jeronimo
City number: 363. City name: inhambane
City number: 364. City name: buala
City number: 365. City name: vanimo
City number: 366. City name: auriflama
City number: 367. City name: stutterheim
City number: 368. City name: bobo dioulasso
City number: 369. City name: perth
City number: 370. City name: katsuura
City number: 371. City name: cassilandia
City number: 372. City name: shenjiamen
City number: 373. City name: placerville
City number: 374. City name: ada
City number: 375. City name: cidreira
City number: 376. City name: cakovec
City number: 377. City name: sovetskiy
City number: 378. City name: sobolevo
City number: 379. City name: pisco
City number: 380. City name: mountain home
City number: 381. City name: porgera
City number: 382. City name: mount gambier
City number: 383. City name: dingle
City number: 384. City name: torit
City number: 385. City name: ulaanbaatar
City number: 386. City name: rio grande
City number: 387. City name: yatou
City number: 388. City name: svetlogorsk
City number: 389. City name: broken hill
City number: 390. City name: bathurst
City number: 391. City name: rafai
City number: 392. City name: santomera
City number: 393. City name: champerico
City number: 394. City name: berdigestyakh
City number: 395. City name: holme
City number: 396. City name: noumea
City number: 397. City name: yanaul
City number: 398. City name: yellowknife
City number: 399. City name: murgab
City number: 400. City name: grindavik
City number: 401. City name: valleyview
City number: 402. City name: hervey bay
City number: 403. City name: umm lajj
City number: 404. City name: grand-santi
City number: 405. City name: port-gentil
City number: 406. City name: odweyne
City number: 407. City name: valley city
City number: 408. City name: oga
City number: 409. City name: rundu
City number: 410. City name: taganak
City number: 411. City name: kavaratti
City number: 412. City name: bilibino
City number: 413. City name: verkhnyaya inta
City number: 414. City name: vagur
City number: 415. City name: nuuk
City number: 416. City name: shcholkine
You have an error.
City number: 417. City name: naze

City number: 418. City name: mentok
You have an error.
City number: 419. City name: almaznyy
City number: 420. City name: sinkat
You have an error.
City number: 421. City name: greymouth
City number: 422. City name: santa cruz
City number: 423. City name: torrington
City number: 424. City name: inirida
City number: 425. City name: westerland
City number: 426. City name: marcona
You have an error.
City number: 427. City name: vondrozo
City number: 428. City name: mehamn
City number: 429. City name: chipata
City number: 430. City name: tarnos
City number: 431. City name: belmonte
City number: 432. City name: pestretsy
City number: 433. City name: shubarkuduk
City number: 434. City name: bac lieu
City number: 435. City name: hithadhoo
City number: 436. City name: chunskiy
City number: 437. City name: sechura
City number: 438. City name: birjand
City number: 439. City name: sumbe
City number: 440. City name: dianopolis
You have an error.
City number: 441. City name: maldonado
City number: 442. City name: nador
City number: 443. City name: toftir
You have an error.
City number: 444. City name: ust-nera
City number: 445. City name: copenhagen
City number: 446. City name: sakakah
City number: 447. City name: ihosy
City number: 448. City name: misawa
City number: 449. City name: macomer
City number: 450. City name: muros
City number: 451. City name: dolni bousov
City number: 452. City name: hyeres
City number: 453. City name: iaciara
City number: 454. City name: scottsburgh
You have an error.
City number: 455. City name: tura
City number: 456. City name: sinamar
City number: 457. City name: yaring
City number: 458. City name: egvekinot
City number: 459. City name: constitucion
City number: 460. City name: skagen
City number: 461. City name: brewster
City number: 462. City name: sortland
City number: 463. City name: moville
City number: 464. City name: harper
City number: 465. City name: hami
City number: 466. City name: ngukurr
You have an error.
City number: 467. City name: clyde river
City number: 468. City name: laguna
City number: 469. City name: bemidji
City number: 470. City name: girne
City number: 471. City name: san-pedro
City number: 472. City name: oriximina
City number: 473. City name: marzuq
City number: 474. City name: portland
City number: 475. City name: vostok
City number: 476. City name: coos bay
City number: 477. City name: alofi
City number: 478. City name: college
City number: 479. City name: santa isabel
City number: 480. City name: balagansk
City number: 481. City name: tawang
City number: 482. City name: bulaevo
City number: 483. City name: wiang sa
City number: 484. City name: lieksa
City number: 485. City name: winslow
City number: 486. City name: palauig
City number: 487. City name: bubaque
City number: 488. City name: labuhan
City number: 489. City name: capreol
City number: 490. City name: asau
City number: 491. City name: nome
City number: 492. City name: saleaula
You have an error.
City number: 493. City name: smirnykh
City number: 494. City name: abdulino
City number: 495. City name: ruatoria
You have an error.
City number: 496. City name: gizo
City number: 497. City name: synya
City number: 498. City name: havoysund
City number: 499. City name: zemio
City number: 500. City name: evanston
City number: 501. City name: chimore
City number: 502. City name: meyungs
You have an error.
City number: 503. City name: veinticinco de mayo
City number: 504. City name: diffa
City number: 505. City name: ishigaki
City number: 506. City name: alta floresta
City number: 507. City name: nishihara
City number: 508. City name: alyangula
City number: 509. City name: halalo
You have an error.
City number: 510. City name: mukhen
City number: 511. City name: cuiluan
City number: 512. City name: neiafu
City number: 513. City name: corning
City number: 514. City name: quang ngai
City number: 515. City name: mahanoro
City number: 516. City name: saint-augustin
City number: 517. City name: springfield
City number: 518. City name: agadez
City number: 519. City name: say
City number: 520. City name: basco
City number: 521. City name: pemberton
City number: 522. City name: mount isa
City number: 523. City name: botwood
City number: 524. City name: bundaberg
City number: 525. City name: dzhusaly
You have an error.
City number: 526. City name: tongzi
City number: 527. City name: opuwo
City number: 528. City name: senador jose porfirio
City number: 529. City name: dubrovka
City number: 530. City name: moscow
City number: 531. City name: zhangye
City number: 532. City name: davila
City number: 533. City name: kaitangata
City number: 534. City name: phalodi
City number: 535. City name: xuddur
City number: 536. City name: swanton
City number: 537. City name: faya
City number: 538. City name: torbay
City number: 539. City name: victoria point
City number: 540. City name: avera
City number: 541. City name: raudeberg
City number: 542. City name: bella union
City number: 543. City name: kruisfontein
City number: 544. City name: amalapuram
City number: 545. City name: kurya
City number: 546. City name: black river
City number: 547. City name: bairiki
City number: 548. City name: worland
City number: 549. City name: souillac
City number: 550. City name: shelburne
City number: 551. City name: bindura
City number: 552. City name: bati
City number: 553. City name: mashhad
City number: 554. City name: sao joao da barra
City number: 555. City name: olga
City number: 556. City name: port augusta
City number: 557. City name: kokkinon
You have an error.
City number: 558. City name: bumba
City number: 559. City name: ribeirao pires
City number: 560. City name: samoded
City number: 561. City name: luderitz
City number: 562. City name: felidhoo
You have an error.
City number: 563. City name: natchez
City number: 564. City name: balao
City number: 565. City name: alekseyevsk
City number: 566. City name: gibara
City number: 567. City name: kefamenanu
City number: 568. City name: shchuchye
You have an error.
City number: 569. City name: kostino
City number: 570. City name: san cristobal
City number: 571. City name: lakes entrance
City number: 572. City name: malaut
City number: 573. City name: liverpool
City number: 574. City name: tual
City number: 575. City name: kitimat
City number: 576. City name: viedma
City number: 577. City name: nicoya
City number: 578. City name: smithers
City number: 579. City name: charters towers
City number: 580. City name: ostersund
City number: 581. City name: piacabucu
City number: 582. City name: linjiang
City number: 583. City name: serenje
City number: 584. City name: yaval
City number: 585. City name: touros
City number: 586. City name: shingu
City number: 587. City name: raposos
City number: 588. City name: oksfjord
City number: 589. City name: tabuk
City number: 590. City name: batamshinskiy
City number: 591. City name: itarema
City number: 592. City name: galiwinku
You have an error.
City number: 593. City name: siderno
City number: 594. City name: si sa ket
City number: 595. City name: honiara
City number: 596. City name: mount hagen
City number: 597. City name: te anau
City number: 598. City name: nuevitas
City number: 599. City name: gazli
City number: 600. City name: florida
City number: 601. City name: lasa
City number: 602. City name: williston
City number: 603. City name: labutta
You have an error.
City number: 604. City name: naral
You have an error.
City number: 605. City name: vicksburg
City number: 606. City name: mergui
You have an error.
City number: 607. City name: russell
City number: 608. City name: norsup
City number: 609. City name: hasaki
City number: 610. City name: redmond
City number: 611. City name: chagda
You have an error.
City number: 612. City name: jalu
City number: 613. City name: bay roberts
City number: 614. City name: nyurba
City number: 615. City name: ruidoso
City number: 616. City name: launceston
City number: 617. City name: ngunguru
City number: 618. City name: erie
City number: 619. City name: oxapampa
City number: 620. City name: batagay
City number: 621. City name: gokak
City number: 622. City name: zastron
City number: 623. City name: atar

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [5]:
#create df from city weather query results
weather_dict = {"City": city_list,
               "Temperature": temperature,
               "%Humidity": humidity,
               "Cloudiness":cloudiness,
               "Wind Speed": wind_speed,
               "Latitude": lat_list,
               "Longitude": lng_list}

weather_data = pd.DataFrame(weather_dict)
weather_data

,City,Temperature,%Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,mar del plata,11.10,60,100,1.79,-38.0023,-57.5575
1,bluff,8.78,89,100,4.79,-46.6000,168.3333
2,albany,23.09,57,99,0.32,42.6001,-73.9662
3,provideniya,7.38,78,100,2.78,64.3833,-173.3000
4,ilhabela,23.12,70,9,1.58,-23.7781,-45.3581
...,...,...,...,...,...,...,...
565,oxapampa,19.94,69,12,1.62,-10.5775,-75.4017
566,batagay,18.51,64,67,0.57,67.6333,134.6333
567,gokak,24.41,68,100,1.82,16.1667,74.8333
568,zastron,13.25,59,99,2.08,-30.3023,27.0840
569,atar,43.62,10,2,8.96,20.5169,-13.0499

In [6]:
#export city data to csv
weather_data.to_csv('weather_data.csv')

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [12]:
#there are no cities in this df with humidity > 100%
weather_data.loc[weather_data['%Humidity'] > 100]

Empty DataFrame
Columns: [City, Temperature, %Humidity, Cloudiness, Wind Speed, Latitude, Longitude]
Index: []

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).




### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame





## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%. 



#  Get the indices of cities that have humidity over 100%.


# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".





## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot



## Latitude vs. Humidity Plot



## Latitude vs. Cloudiness Plot



## Latitude vs. Wind Speed Plot



## Linear Regression



####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression



####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression



####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression



####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression



####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression



####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression



####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression



####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression